/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #6c757d;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

#slider {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}

#box {
    width: 200px;
    height: 200px;
    background-color: #d9534f;
    margin: 20px auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}

.column {
    flex: 1;
    text-align: center;
    background-color: lightsalmon;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

#count {
    font-size: 48px;
    margin-top: 20px;
}

#random-image {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#movableBox {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    position: relative;
    margin: 20px auto;
    border: 1px solid #ddd;
    font-display: center;
}

input[type="range"] {
    width: 80%;
    margin: 10px 0;
}

footer {
    background-color: #6c757d;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive for mobile layout */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
